body {

    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Marker Hatch', cursive;
    background: linear-gradient(45deg, #6fff00 20%, #05bcdd 20% 50%, #f706ff 50% 80%, #ffc400 80%);
    margin:0 auto;
    padding:0;
    text-align: center;
    table-layout: center;
    height: auto;
    display: flex;
    flex-direction: column;
}
main {
    padding: 16px;
    text-align: center;

}



img {
    height: 200px;
}

nav {
    color: rgb(4, 151, 242);
    border-bottom: 1px;
    padding: 16px;
    text-align: left;
    font-size: 25px;
}
a {
    background-color: rgb(2, 247, 165);
    transition: background-color .5s;
  }

a:hover {
    background-color: rgb(243, 6, 34);
  }

  td:hover {
    background-color: rgb(243, 6, 34);
  }

table.center {
    margin-left:auto;
    margin-right:auto;
  }

ol {
    text-align: center;
}

footer {
    background: rgba(230, 240, 36, 0.799);
    padding: 16px;
    border-bottom: 6px;
    padding-top: 5px;

}

#grid {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
